:root {
  --montserrat: 'Montserrat', sans-serif;
  --square-peg: 'Square Peg', cursive;
  --grey-box: rgba(55, 56, 61, .5);
  --pink: #ffafaf;
  --t-pink: rgba(255, 175, 175, .5);
}

 /* Background Image*/ 
body {
    background-color: #000000;
    background-image: url("/images/home-cover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Nav bar*/
nav {
    display: flex;
    justify-content: right;
    margin: 40px;
}

li {
    margin: 0px 40px;
}

a {
    font-family: var(--montserrat);
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: var(--pink);
}

/*Box Content*/

#box1 {
    background-color: var(--grey-box);
    height: 500px;
}

h1 {
    font-family: var(--square-peg);
    font-size: 55px;
    color: white;
    text-align: left;
    margin: 60px 20px 20px 20px;
}

p {
    color: white;
    text-align: left;
    font-family: var(--montserrat);
    font-size: 14px;
    margin: 20px;
}

button {
    display: flex;
    align-items: left;
    text-align: center;   
    margin: 60px 20px;
    background-color:var(--t-pink);
    border: none;
    padding: 10px 40px;
}




/*Contact Section*/

#contact {
  margin:200px;
  position:absolute;
  top: 50%;
} 

h2 {
    color: var(--pink);
    font-family: var(--square-peg);
    font-size: 41.8px;
    text-align: center;
}

ul {
    font-family: var(--montserrat);
    padding-left: 0pt;
    color: white;
    float: left;
    text-align: left;
    list-style: none;
    font-size: 14px;
}

/*image*/
#img {
    display: flex;
    position: absolute;
    min-height: 0;
    justify-content: center;
    max-width: 500px;
}

@media screen and (min-width: 480px) {
    .row {
        display:flex;
    }
}